modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CPP Code Reviewer"

[[workflows.workflow]]
name = "CPP Code Reviewer"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python cpp_code_reviewer.py -f sample.cpp -v"

[deployment]
run = ["sh", "-c", "cmake . && make && ./cpp_code_reviewer"]
